<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        {{>header}}
        <h2> Welcome to second page</h2>
        <h1>{{title}}</h1>
        <p>Book is written by {{author}}</p>
    </body>
</html>